<h3 class="text-center mb-3">Add a todo</h3>

<div class="container w-75">
    <form class="mb-3">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Add Todo</button>
    </form>
</div>